{
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "chrome": true,
    "CryptoJS": true,
    "KTR": true,
    "moment": true
  },
  "rules": {
    "indent": ["error", 4],
    "block-scoped-var": "warn",
    "curly": "warn",
    "key-spacing": ["error", {
      "mode": "minimum"
    }],
    "max-len": ["error", 120],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }]
  }
}
